body {
  font-family: "Roboto", sans-serif;
  letter-spacing: 0.03em;
}
.btn {
  border: none;
}
.link {
  text-decoration: none;
}
.list {
  list-style: none;
}
.container {
  width: 1200px;
  margin: 0 auto;
  padding-left: 15px;
  padding-right: 15px;
}
